version: '3.1'

services:
  zoo:
    image: zookeeper
    restart: on-failure
    hostname: zoo
    ports:
      - 2181:2181
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=0.0.0.0:2888:3888;2181

  rmq:
    image: rabbitmq:3.8.3-alpine
    ports:
      - 5672:5672

  redis:
    image: redis
    ports:
      - 0.0.0.0:6379:6379

  slave:
    build:
      context: .
      dockerfile: Dockerfile-Work
    command: sh -c "python /code/Workers/worker.py slave rmq 0.0.0.0"
    volumes:
    - ../:/code
    links:
    - rmq
    - zoo
    - redis
    depends_on:
    - rmq
    - zoo
    - redis
    restart: on-failure

  master:
    build:
        context: .
        dockerfile: Dockerfile-Work
    command: sh -c "python /code/Workers/worker.py master rmq 0.0.0.0"
    volumes:
    - ../:/code
    links:
    - rmq
    - zoo
    - redis
    depends_on:
    - rmq
    - zoo
    - redis
    restart: on-failure

  orchestrator:
    build:
        context: .
        dockerfile: Dockerfile-Orch
    ports:
      - 8000:8000
    command: sh -c "python /code/Orchestrator/orchestrator.py"
    volumes:
        - ../:/code
    depends_on:
        - zoo
        - redis
        - rmq
    restart: on-failure
