version: "3.7"
services:
  base-image:
    image: base-image
    build:
      context: .
      dockerfile: Dockerfile
  user:
    image: users:latest
    volumes:
      - ../:/code
    build:
      context: ..
      dockerfile: docker/User

    ports:
      - 8080:80
    networks:
      microservice_nets:
        ipv4_address: 172.16.238.10
  redis:
    image: "redis:alpine"

networks:
  microservice_nets:
    ipam:
      driver: default
      config:
        - subnet: "172.16.238.0/24"
